<section class="repository" fxFlex fxLayout="column" [@animate]="{value:'*',params:{y:'100%'}}" *ngIf="repository">
  <section class="repository-header" fxFlex fxLayout="row">
    <div class="avatar">
      <img [src]="repository.owner?.avatar_url">
    </div>
    <div class="repository-header-text">
      <div class="repository-header-title">
        <a target="_blank" rel="noreferrer" href="{{ repository.html_url }}">
          {{ repository.name }}
        </a>
      </div>
      <div fxLayout="row" fxLayoutGap="12px">
        <div class="info-item" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="5px">
          <div octicon="star" color="gold"></div>
          <div>{{ repository.stargazers_count }}</div>
        </div>
        <div class="info-item" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="5px">
          <div octicon="repo-forked" color="#437da8"></div>
          <div>{{ repository.forks_count }}</div>
        </div>
        <div *ngIf="repository.open_issues_count" class="info-item" fxLayout="row" fxLayoutAlign="center start"
             fxLayoutGap="5px">
          <div octicon="issue-opened" color="#38e038"></div>
          <div>{{ repository.open_issues_count }}</div>
        </div>
      </div>
    </div>
  </section>
  <section class="repository-content">
    <p>{{ repository?.description | truncate:70 }}</p>
  </section>
  <section class="repository-footer" fxFlex fxLayout="column">
    <span>Criado: {{ repository.created_at | date: 'dd/MM/yyyy' }}</span>
    <span>Atualizado: {{ repository.pushed_at | date: 'dd/MM/yyyy' }}</span>
  </section>
</section>
